/* stylelint-disable no-descending-specificity */

/* header and nav layout */
header {
  padding: 0 16px;
}

.header-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: var(--nav-mobile-height);
  background-color: var(--header-background-color);
  z-index: 5;
  box-shadow: 0 5px 5px -2px rgba(0 0 0 / 20%);
}

.main-nav-columns>div {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0;
  width: 100%;
  flex-shrink: 0;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.main-nav-columns>div::before {
  display: block;
  content: '';
  width: 22px;
}

@media (width >=600px) {
  .header-wrapper {
    height: var(--nav-height);
    box-shadow: 0 5px 5px -2px rgba(0 0 0 / 50%);
  }

  .main-nav-columns>div {
    display: flex;
    height: 100%;
    margin: 0;
    width: 100%;
    flex-shrink: 0;
    gap: 15px;
    justify-content: space-between;
  }

  .main-nav-columns>div::before {
    display: none;
  }

  .header-wrapper::before {
    background: var(--blue);
    height: 35px;
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }
}

@media (width >=900px) {
  .main-nav-columns>div {
    gap: 40px;
  }
}

/* nav (header) wrapper */
.nav-wrapper {
  max-width: var(--max-width);
  position: relative;
  margin: 0 auto;
}

/* utility */
.utility {
  display: none;
}

.utility .columns-wrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  margin: 0;
}

.utility .utility-columns>div {
  gap: 20px;
}

.utility ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.utility li {
  margin: 0;
}

.utility a {
  display: inline-block;
}

@media (width >=600px) {
  .utility {
    display: flex;
    justify-content: flex-end;
    height: 35px;
  }
}

/* utility - social media */
.utility .columns-img-col {
  display: none;
}

.utility .columns-img-col ul li {
  margin: 0 10px;
  display: flex;
  align-items: center;
}

.utility .columns-img-col img {
  display: inline !important;
  width: auto;
}

.utility .columns-img-col ul picture {
  display: flex;
  align-items: center;
  height: 100%;
}

.utility .columns-img-col ul a:hover {
  transform: scale(1.2);
}

@media (width >=600px) {
  .utility .columns-img-col {
    display: block;
  }
}

/* utility - languages */
.utility .columns>div>div:last-child {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  padding-top: 10px;
}

.utility .columns>div>div:last-child ul {
  position: relative;
  color: var(--white);
}

.utility .columns>div>div:last-child>ul>li {
  cursor: pointer;
  padding: 0 20px 10px 0;
  position: relative;
}

.utility .columns>div>div:last-child>ul>li::after {
  content: "\203A";
  display: inline-block;
  font-size: 28px;
  transform: rotate(90deg);
  position: absolute;
  right: 0;
  top: -10px;
}

.utility .columns>div>div:last-child ul ul {
  display: none;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 90%;
  background: var(--white);
  padding: 12px;
  border-radius: 10px;
  flex-flow: column;
  min-width: 150px;
  font-family: var(--heading-font-family);
  font-size: 13px;
  box-shadow: 0 6px 12px rgba(0 0 0 / 17.5%);
  border: 1px solid rgba(0 0 0 / 15%);
}

.utility .columns>div>div:last-child ul ul::before {
  width: 0;
  height: 0;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  border-bottom: 8px solid var(--white);
  content: '';
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.utility .columns>div>div:last-child ul ul li {
  margin: 0 0 5px;
}

.utility .columns>div>div:last-child ul ul li:last-child {
  margin: 3px 0 0;
  padding-top: 8px;
  border-top: solid 1px var(--dark-color);
}

.utility .columns>div>div:last-child a {
  color: var(--white);
}

.utility .columns>div>div:last-child ul ul a {
  color: var(--black);
}

.utility .columns>div>div:last-child ul ul a:hover {
  text-decoration: underline;
}

.utility .columns>div>div:last-child ul li:hover ul {
  display: block;
}

.utility .columns>div>div:last-child p {
  margin: 0;
  white-space: nowrap;
}

/* tablet modifications */
@media (width >=600px) {
  .utility .utility-columns>div {
    flex-flow: row nowrap;
    align-items: center;
  }
}

/* *************** 
   ***************
   MAIN NAVIGATION 
   ***************
   *************** */

/* main nav columns */
.main-nav-columns {
  height: var(--nav-mobile-height);
  width: 100%;
}

.main-nav .columns-wrapper {
  margin: 0;
  max-width: none;
  display: flex;
}

/* logo */
.main-nav-columns .columns-img-col {
  flex-shrink: 0;
}

.main-nav-columns .columns-img-col a {
  display: block;
}

.main-nav-columns .columns-img-col img {
  width: 100%;
  display: inline-block !important;
  height: auto;
}

.main-nav-columns .columns-img-col picture {
  display: flex;
  align-items: center;
  height: 100%;
}

/* tablet modifications */
@media (width >=600px) {
  .main-nav-columns {
    height: 80px;
    max-width: none;
  }

  .main-nav .columns-wrapper {
    display: block;
  }
}

/* desktop modifications */
@media (width >=900px) {
  .main-nav-columns .columns-img-col:first-child {
    max-width: none;
  }

  .main-nav-columns .columns-img-col img {
    width: auto;
  }
}

/* main nav */
.main-nav-columns>div>div:nth-child(2) {
  display: none;
  position: absolute;
  left: -16px;
  top: 62px;
  width: 100vw;
  padding: 10px 25px;
  height: calc(100vh - var(--nav-mobile-height));
  overflow: scroll;
  background: var(--blue);
}

.main-nav ul {
  list-style: none;
  margin: 0;
  padding: 10px 0;
}

.main-nav ul ul ul{
  padding-left: 20px;
}

.main-nav div>ul {
  display: block;
}

.main-nav div>ul > li > ul {
  display: none;
}

.main-nav div>ul>li {
  padding-bottom: 15px;
  margin-bottom: 15px;
  position: relative;
  border-bottom: solid 1px var(--navigation-color-mobile);
}

.main-nav div>ul>li>ul>li {
  position: relative;
}

.main-nav ul a {
  color: var(--navigation-color-mobile);
  font-size: var(--body-font-size-s);
  text-decoration: none;
}

.main-nav .nav-drop .nav-drop > a {
  font-family: var(--navigation-font-family);
}

.main-nav ul ul ul li{
  margin-bottom: 5px;
}

.main-nav ul ul ul a{
  font-size: var(--body-font-size-m);
}

.main-nav ul a:hover {
  color: var(--navigation-hover);
}

/* hide image column in mobile */
.main-nav div>ul>li>ul>li:first-child {
  display: none;
}

.main-nav div>ul>li>ul>li:not(:first-child)>a:hover {
  color: inherit;
  text-decoration: underline;
}

.main-nav div>ul>li>ul>li:not(:first-child)>ul a {
  font-family: var(--body-font-family);
}

.main-nav div>ul>li>ul>li:not(:first-child)>ul a:hover {
  font-family: var(--body-font-family);
  color: inherit;
  text-decoration: underline;
}

/* tablet modifications */
@media (width >=600px) {
  .main-nav-columns>div>div:nth-child(2) {
    top: var(--nav-height);
    height: calc(100vh - var(--nav-height));
  }
}

/* desktop modifications */
@media (width >=900px) {
  .main-nav ul a {
    color: var(--navigation-color);
    font-family: var(--navigation-font-family);
    font-size: var(--body-font-size-m);
    text-decoration: none;
  }

  .main-nav-columns>div>div:nth-child(2) {
    display: flex !important;
    position: static;
    background: none;
    width: auto;
    height: auto;
    left: auto;
    top: auto;
    padding: 0;
    overflow: unset;
  }

  .main-nav div>ul {
    margin: 30px 0 0;
    display: flex;
    gap: 40px;
  }

  .main-nav div>ul>li {
    padding-bottom: 30px;
    position: static;
    border: none;
    margin: 0;
  }

  .main-nav ul {
    padding: 0;
  }

  .main-nav ul ul ul{
    padding-left: 0;
  }

  .main-nav ul ul ul li {
    margin: 0;
  }

  .main-nav div>ul>li>ul {
    display: flex !important;
    margin: 0;
    padding: 15px 15px 25px;
    gap: 30px;
    position: absolute;
    justify-content: flex-start;
    align-items: flex-start;
    left: 0;
    top: 100%;
    background: var(--header-background-color);
    width: 100%;
    box-shadow: 0 6px 6px rgba(0 0 0 / 50%);

    /* hidden before hover - animates in */
    visibility: hidden;
    opacity: 0;
    transition: .1s .2s;
  }

  .main-nav div>ul>li:hover>ul {
    visibility: visible;
    opacity: 1;
    transition-delay: 0s;
  }

  /* main nav - mega - first column image */
  .main-nav div>ul>li>ul>li:first-child {
    width: 230px;
    flex-shrink: 0;
    flex-grow: 0;
    display: block;
  }

  .main-nav div>ul>li>ul>li:first-child img {
    max-width: 100%;
    height: auto;
    width: auto;
  }

  /* main nav - mega - list columns */
  .main-nav div>ul>li>ul>li:not(:first-child) {
    width: 100%;
    flex-grow: 0;
    flex-shrink: 1;
    max-width: 240px;
  }

  .main-nav div>ul>li>ul>li:not(:first-child)>ul {
    margin-top: 20px;
    display: flex;
    flex-flow: column;
    gap: 15px;
  }

  .main-nav div>ul>li>ul>li:not(:first-child)>a {
    font-weight: bold;
  }

}


/* search */
.main-nav-columns>div>div:last-child {
  flex-grow: 0;
}

/* hamburger */
header nav#nav .nav-hamburger {
  grid-area: hamburger;
  height: 22px;
  display: flex;
  align-items: center;
  position: absolute;
  left: 0;
  top: 20px;
}

header nav#nav .nav-hamburger button {
  height: 22px;
  margin: 0;
  border: 0;
  border-radius: 0;
  padding: 0;
  color: inherit;
  overflow: initial;
  text-overflow: initial;
  white-space: initial;
  background: none;
}

header nav#nav .nav-hamburger-icon,
header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  box-sizing: border-box;
  display: block;
  position: relative;
  width: 20px;
}

header nav#nav .nav-hamburger-icon::before,
header nav#nav .nav-hamburger-icon::after {
  content: "";
  position: absolute;
  background: var(--black);
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  height: 2px;
  background: var(--black);
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before {
  top: -6px;
}

header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
  top: 6px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon {
  height: 22px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::before,
header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: 3px;
  left: 1px;
  transform: rotate(45deg);
  transform-origin: 2px 1px;
  width: 24px;
  height: 2px;
}

header nav#nav[aria-expanded="true"] .nav-hamburger-icon::after {
  top: unset;
  bottom: 3px;
  transform: rotate(-45deg);
}


/* tablet modifications */
@media (width >=600px) {
  header nav#nav .nav-hamburger {
    top: 7px;
  }

  header nav#nav .nav-hamburger-icon::before,
  header nav#nav .nav-hamburger-icon::after {
    background: var(--white);
  }

  header nav#nav[aria-expanded="false"] .nav-hamburger-icon,
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::before,
  header nav#nav[aria-expanded="false"] .nav-hamburger-icon::after {
    background: var(--white);
  }
}

/* desktop modifications */
@media (width >=900px) {
  header nav#nav .nav-hamburger {
    display: none;
    visibility: hidden;
  }
}




/* expanded sections on mobile */
header nav#nav[aria-expanded="true"] .nav-sections .main-nav-columns>div>div:nth-child(2) {
  display: block;
  visibility: visible;
}

header nav#nav .nav-sections .nav-drop::after {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  content:'+';
  font-size: var(--heading-font-size-xl);
  color: var(--navigation-color-mobile);
  line-height: .9em;
}

header nav#nav .nav-sections .nav-drop .nav-drop::after {
  display: none;
}

header nav#nav .nav-sections .nav-drop[aria-expanded="true"]::after {
  content: '-';
}

header nav#nav .nav-sections .nav-drop[aria-expanded="true"] > ul {
  display: block;
}

@media (width >=900px) {
  header nav#nav .nav-sections .nav-drop::after {
    display: none !important;
  }
}