/* stylelint-disable no-descending-specificity */

/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

:root {
  /* base colors */
  --white: #fff;
  --black: #000;
  --blue: #0f059e;
  --purple: #6a40ac;
  --skyblue: #a7c6ed;
  --gray: #f1f1f2;
  --dark-color: #ccc;
  --gray-2: #D1D3D4;
  
  /* text colors */
  --text-color: var(--black);

  /* links/CTAs */
  --link-color: #753bbc;
  --link-hover-color: #136ff6;
  --cta-color: var(--purple);
  --cta-hover: #753bbc;
  --cta-hover-active:#204d74; 

  /* navigation colors */
  --navigation-color: var(--black);
  --navigation-hover: #753bbc;
  --navigation-color-mobile: var(--white);

  /* backgrounds */
  --background-color: var(--white);
  --header-background-color: var(--white);
  --utility-background-color: var(--blue);

  /* fonts */
  --body-font-family: "arial", "helvetica", "sans-serif";
  --heading-font-family: "arial", "helvetica", "sans-serif";
  --navigation-font-family: "arial", "helvetica", "sans-serif";
  --fixed-font-family: "arial", "helvetica", "sans-serif";

  /* body sizes */
  --body-font-size-m: 14px;
  --body-font-size-s: 18px;
  --body-font-size-xs: 16px;

  /* heading sizes */
  --heading-font-size-xxl: 58px;
  --heading-font-size-xl: 32px;
  --heading-font-size-l: 24px;
  --heading-font-size-m: 20px;
  --heading-font-size-s: 18px;
  --heading-font-size-xs: 16px;

  /* button sizes */
  --button-font-size: 12px;

  /* nav height */
  --nav-height: 115px;
  --nav-mobile-height: 62px;

  /* base widths */
  --max-width: 1024px;

  /* carousel colors */
  --carousel-color-heading: var(--black);
  --carousel-color-description: var(--black);
  --carousel-color-indicator: var(--purple);
  --carousel-mobile-heading-font-size: 42px;

  /* stats */
  --stats-heading-font-size: 80px;
  --stats-heading-mobile-font-size: 48px;
  --stats-heading-font-family: var(--heading-font-family);

  /* story teaser */
  --story-heading-font-size: 22px;
  --story-heading-font-family: var(--heading-font-family);
  --story-font-size: var(--body-font-size-xs);
  --news-color-background: #BFD3F3;

  /* footer */
  --footer-font-family: var(--heading-font-family);
  --footer-font-size: 13px;

  /* breakpoints */
  --breakpoint-tablet: 600px;
  --breakpoint-desktop: 900px;
}

@font-face {
  font-family: roboto-fallback;
  size-adjust: 100.06%;
  ascent-override: 95%;
  src: local('arial');
}

@media (width >= 900px) {
  :root {
    --heading-font-size-xxl: 58px;
    --heading-font-size-xl: 32px;
    --heading-font-size-l: 24px;
    --heading-font-size-m: 20px;
    --heading-font-size-s: 18px;
    --heading-font-size-xs: 16px;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.4;
  font-weight: 500;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body.appear {
  display: block;
}

header {
  height: var(--nav-mobile-height);
}

@media (width >=600px) {
  header {
    height: var(--nav-height);
  }
}

main { 
  padding-top: var(--nav-mobile-height);
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  font-weight: 600;
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 {
  font-size: var(--heading-font-size-xxl)
}

h2 {
  font-size: var(--heading-font-size-xl)
}

h3 {
  font-size: var(--heading-font-size-l);
  font-weight: 500;
}

h4 {
  font-size: var(--heading-font-size-m)
}

h5 {
  font-size: var(--heading-font-size-s)
}

h6 {
  font-size: var(--heading-font-size-xs)
}

code, pre {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--light-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

/* links */
a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--body-font-family);
  font-size: var(--button-font-size);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 10px 20px;
  text-align: center;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--cta-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 20px;
  line-height: 1;
  transition: .1s;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--cta-hover);
  cursor: pointer;
  transform: scale(1.05);
}

button:disabled, button:disabled:hover {
  background-color: var(--light-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon img {
  height: 100%;
  width: 100%;
}

/* sections */
main .section {
  padding: 20px 16px;
}

@media (width >= 600px) {
  main { 
    padding-top: var(--nav-height);
  }
  
  main .section {
    padding: 20px 32px;
  }
}

@media (width >= 900px) {
  .section > div {
    max-width: var(--max-width);
    margin: auto;
  }
}

/* section full width */
.section.full-width {
  padding: 0;
}

.section.full-width > div {
  max-width: none;
}

/* section no padding */
.section.no-padding {
  padding: 0;
}

/* section flex justify */
.section.flex-justify-space-between .block > div > div{
  justify-content: space-between;
  display: flex;
}

.section.flex-justify-center .block > div > div {
  justify-content: center;
  display: flex;
}

.section.flex-justify-flex-start .block > div > div {
  justify-content: flex-start;
  display: flex;
}

.section.flex-justify-flex-end .block > div > div {
  justify-content: flex-end;
  display: flex;
}

/* section metadata */
main .section.light,
main .section.highlight {
  background-color: var(--light-color);
}

main .section.gray {
  background-color: var(--gray);
}

main .section.blue {
  background-color: var(--blue);
}

main .section.babyblue {
  background-color: var(--skyblue);
}

main .section.gray-inner > div {
  background-color: var(--gray);
}

main .section.blue-inner > div{
  background-color: var(--blue);
}

main .section.babyblue-inner > div {
  background-color: var(--skyblue);
}


/* text alignment */
.section.content-center {
  text-align: center;
}

.section.content-right {
  text-align: right;
}

/* clients section */
.clients-section.section > div:not(.default-content-wrapper) { 
  padding: 20px 16px 0;
}

.clients-section.section .button-container {
  margin: 0;
}

/* tablet modifications */
@media (width >= 600px) {
  .clients-section.section > div:not(.default-content-wrapper) { 
    padding: 20px 20px 0;
  }
}

/* desktop modifications */
@media (width >= 900px) {
  .clients-section.section > div:not(.default-content-wrapper) { 
    padding: 100px 20px 0;
  }
}